* {
  font-family: "Outfit", "Inter", sans-serif;
  color: #efe5f8;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #0d0d0d;
}

/* Header */

.head-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  width: 100%;
  background-color: #1a1a1a;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.head-nav-ct {
  display: flex;
  margin: 0px 100px;
}

.head-nav {
  display: flex;
  gap: 40px;
}

.head-nav a {
  color: #8b5cf6;
  transition: transform 0.6s ease, color 0.3s ease;
}

.head-nav a:hover {
  transform: translateY(-3px);
  color: #a78bfa;
}

.head-nav a.active {
  color: #c4b5fd;
}

/* Main Page */

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1000px;
  padding: 40px;
  border-radius: 20px;
  transition: border 0.5s ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.main-container:hover {
  border: 2px solid #8b5cf6;
}

.about-link {
  display: inline-block;
  margin-top: 20px;
  color: #8b5cf6;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.about-link:hover {
  color: #a78bfa;
  transform: translateX(4px);
}

/* skill */

/* skill */

.skill-container {
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  max-width: 1200px;
  transition: all 0.5s ease;
  border: 2px solid transparent;
}

.skill-container:hover {
  border: 2px solid #8b5cf6;
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.3);
}

.skill-card {
  background: linear-gradient(145deg, #151515, #1f1f1f);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 280px;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  transition: all 0.5s ease;
  border: 1px solid #2a2a2a;
}

.skill-card:hover {
  transform: translateY(-10px);
  border: 1px solid #8b5cf6;
  box-shadow: 0 12px 25px rgba(139, 92, 246, 0.25);
}

.skill-items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skill-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  width: 110px;
  height: 40px;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  color: #c4b5fd;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
}

.skill-name:hover {
  background: linear-gradient(145deg, #8b5cf6, #7c3aed);
  transform: translateY(-3px) scale(1.05);
  color: white;
  box-shadow: 0 8px 15px rgba(139, 92, 246, 0.4);
  border: none;
}
