* {
  font-family: "outline", "Inter", sans-serif;
  color: #efe5f8;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}

body {
  background-color: #0d0d0d;
}

/* Header */

.head-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 12px 40px;
  width: 100%;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.head-nav-ct {
  display: flex;
  margin: 0px 100px;
}

.head-nav {
  display: flex;
  gap: 40px;
}

.head-nav a {
  color: #8b5cf6;
  transition: transform 0.6s ease, color 0.3s ease;
}

.head-nav a:hover {
  transform: translateY(-3px);
  color: #a78bfa;
}

.head-nav a.active {
  color: #c4b5fd;
}
