* {
  font-family: "Outfit", "Inter", sans-serif;
  color: #efe5f8;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #0d0d0d;
}

/* Header */

.head-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  width: 100%;
  background-color: #1a1a1a;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.head-nav-ct {
  display: flex;
  margin: 0px 100px;
}

.head-nav {
  display: flex;
  gap: 40px;
}

.head-nav a {
  color: #8b5cf6;
  transition: transform 0.6s ease, color 0.3s ease;
}

.head-nav a:hover {
  transform: translateY(-3px);
  color: #a78bfa;
}

.head-nav a.active {
  color: #c4b5fd;
}

/* Main Page */

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1000px;
  padding: 40px;
  border-radius: 20px;
  transition: border 0.5s ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.main-container:hover {
  border: 2px solid #8b5cf6;
}

.about-link {
  display: inline-block;
  margin-top: 20px;
  color: #8b5cf6;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.about-link:hover {
  color: #a78bfa;
  transform: translateX(4px);
}

/* skill */

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
