body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: aliceblue;
  height: 367px;
  width: 370px;
  border-radius: 5px;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}
