body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Karla, sans-serif;
}
button {
  font-family: Karla, sans-serif;
  font-size: 1px;
}

main {
  background-color: aliceblue;
  height: 367px;
  width: 370px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice-container button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-family: Karla, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.roll-dice {
  height: 50px;
  width: 150px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: rgb(204, 0, 255);
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  color: aliceblue;
}
