* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: green;
}

main {
  min-height: 700px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-right: 10%;
  margin-bottom: 30px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  padding-left: 10%;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: solid;
}
header a:active {
  color: #c02828;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/* HEAD LINK */
.head-link.active {
  color: blueviolet;
}

/* HOME PAGE */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/home-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  color: white;
  padding: 45px 23px;
  width: 100%;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 25%;
  height: 60px;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*ABOUT PAGE */
.about-hero-image {
  max-width: 500px;
  height: 500px;
  background-repeat: repeat-x;
  background-size: auto; /* optional */
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
  display: wrap;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-btn {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* BIKES PAGE */
.bike-ct {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 10px;
  background-color: #1616160c;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 11px 18px rgba(17, 44, 3, 0.3);
  transform: translateX(0px);

  transition: all 0.3s ease;
}

.bike-ct:hover {
  box-shadow: 0 11px 18px rgba(34, 3, 44, 0.3);
  transform: translateX(10px);
}

.bike-link-ct {
  display: flex;
  width: 300px;
  height: 100%;
}

.bike-link-ct img {
  width: 250px;
  height: 100%;
  border-radius: 10px;
}

/* BIKE DETAILS */
.bike-detail-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bike-detail-ct p {
  text-align: center;
  width: 600px;
}

.dt-img-ct {
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center;
  padding: auto;
  margin: 100px;
}

.dt-img-ct img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.bike-btn {
  margin-top: 100px;
  width: 200px;
  height: 70px;
  font-size: large;
  font-weight: bolder;
  background-color: #161616;
  color: #fff7ed;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.bike-btn:hover {
  transform: translateY(-5px);
}

/* HOST PAGE */

.host-link {
  color: #4d4d4d;
  font-size: medium;
  text-decoration: none;
}

.host-link.active {
  color: red;
}

.host-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: start;
  align-items: start;
}

/* footer */

.footer-ct {
  background-color: black;
  color: blueviolet;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}

/* Inside host vans  */

.hostvan-ct {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 10px;
  background-color: #1616160c;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 11px 18px rgba(17, 44, 3, 0.3);
  transform: translateX(0px);

  transition: all 0.3s ease;
}

.hostvan-ct:hover {
  transform: translateX(-10px);

  box-shadow: 0 13px 22px rgba(49, 4, 4, 0.45);
}
.hostvan-ct img {
  width: 100px;
  border-radius: 10px;
}

.hostvan-link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #161616b0;
}

.hostvan-link:hover {
  color: #161616;
}

.bike-detail-ct img {
  width: 350px;
  border-radius: 10px;
}
.bike-detail-ct h3 {
  background-color: #161616;
  color: white;
  font-weight: 800;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  min-height: 30px;
  align-items: center;
}
