body {
  color: #f3f0b8;
  align-items: center;
  display: flex;
  background-color: #1b1b1d;
  justify-content: center;
  font-family: "Hanken Grotesk", Arial, sans-serif;
}

div {
  border: 1px solid #3b3b44;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

button {
  width: 70px;
  height: 40px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* ct - container */

.main-ct {
  background-color: #232327;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.head-ct {
  width: 100%;
  background-color: #2d2d31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fare-ct {
  background-color: #000000;
  width: auto;
  min-width: 100px;
  color: rebeccapurple;
}

.game-status {
  width: 400px;
  height: auto;
  padding: 1px;
  border-radius: 10px;
}

.fail {
  background-color: #962b2b;
}
.won {
  background-color: #2b967d;
}

.items-ct {
  background-color: #2a2a2f;
  width: 500px;
  min-height: auto;
  justify-content: center;
  margin: 10px 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.chip {
  padding: 0 12px;
  min-width: 60px;
  height: 40px;
  width: auto;
  background-color: #3d3dfe;
  color: white;
  border-radius: 4px;
  border: 1px solid #1414ff;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.lost {
  opacity: 0.35;
  filter: grayscale(100%) blur(1px);
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.word-ct {
  background-color: #3b3b44;
  width: auto;
  height: auto;
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 40px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px;
  display: flex;
  font-size: 23px;
  font-weight: bold;
  background-color: #121212;
  color: #fafafa;
}

.keyboard-ct {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: auto;
  background-color: #0f0f11;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.keyboard {
  width: 45px;
  height: 45px;
  font-size: 23px;
  font-weight: bold;
  background-color: #fff200;
  border: 1px solid #1414ff;
  color: #000000;
  cursor: pointer;
}

.wrong {
  background-color: #e74c3c;
  color: #fff;
}

.correct {
  background-color: #2ecc71;
  color: #fff;
}

.new-btn {
  width: 150px;
  height: 50px;
  background-color: #2b967d;
  border-radius: 5px;
  margin: 10px;
}
