body {
  background-color: blueviolet;
  color: aliceblue;
  justify-content: center;
  display: flex;
}
div {
  border: 2px solid rgb(231, 167, 167);
  border-radius: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main-layer {
  background-color: #282726;
  width: 594px;
  height: 726px;
  padding: 53px 73px;
  gap: 36px;
  flex-direction: column;
}

.second-layer {
  width: 352px;
  height: 144px;
  background-color: rgb(12, 53, 90);
  flex-direction: column;
  gap: 20px;
}

.third-layer {
  background-color: rgb(41, 11, 59);
  width: 352px;
  height: 144px;
}

.third-layer button {
  background-color: blue;
  height: 25px;
  width: 70px;
}

.keyboard-ct {
  color: yellow;
  height: 205px;
  width: 700px;
}
