body {
  color: black;
  align-items: center;
  display: flex;
  background-color: #fff;
  justify-content: center;
}

div {
  border: 1px solid rgb(241, 168, 168);
  align-items: center;
  text-align: center;
}

button {
  width: 70px;
  height: 40px;
}

/* ct - container*/

.main-ct {
  background-color: bisque;
  width: 700px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.head-ct {
  width: 100%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-ct {
  background-color: rgb(168, 127, 255);
  width: 400px;
  height: 100px;
  margin: 30px;
}

.items-ct {
  background-color: beige;
  width: 450px;
  height: 160px;
  margin: 10px 1px;
}

.word-ct {
  background-color: rgb(179, 179, 232);
  width: 400px;
  height: 300px;
  margin: 40px;
}

.keyboard-ct {
  width: 70%;
  height: 400px;
  background-color: black;
}

.keyboard-ct button {
  width: 40px;
  height: 40px;
}
